.jumbotron {
  width: 100vw;
  height: 12.5vh;
  background-color: lightpink;
  background-image: linear-gradient(90deg, #FFA69E, #861657);
}
#search-weather {
  background-color: #f79289;
}
.forecast-card {
  background-color: rgb(243, 107, 129);
}

#forecast {
  display: flex;

}
.mini-card{
  margin: 10px;
  background-color: rgb(253, 172, 185);
  color: white;
}
.current-info-card {
  background-color: #f8f9fa!important;
  border: 2px solid rgba(0,0,0,.125);
  padding: 2rem;
}

.safe {
  background-color: rgba(125, 223, 125, 0.895);
}

.concerning {
  background-color: yellow;
}

.unsafe {
  background-color: red;
}